<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net461" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="CSharpFunctionalExtensions" version="1.8.1" targetFramework="net461" />
  <package id="docopt.net" version="0.6.1.9" targetFramework="net461" />
  <package id="FluentAssertions" version="4.17.0" targetFramework="net461" />
  <package id="Moq" version="4.7.145" targetFramework="net461" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
  <package id="Spire.Doc" version="6.0.63" targetFramework="net461" />
</packages>